<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpacesDisplayConfiguration</key>
	<dict>
		<key>Management Data</key>
		<dict>
			<key>Age</key>
			<real>25822.651442192004</real>
			<key>Double</key>
			<dict>
				<key>CreatedCount</key>
				<integer>0</integer>
				<key>DeletedCount</key>
				<integer>0</integer>
				<key>LifetimeEntryCount</key>
				<integer>0</integer>
				<key>LifetimeMax</key>
				<real>0.0</real>
				<key>LifetimeMin</key>
				<real>0.0</real>
				<key>LifetimeSum</key>
				<real>0.0</real>
				<key>PersistedCount</key>
				<integer>0</integer>
			</dict>
			<key>Management Mode</key>
			<integer>1</integer>
			<key>Manager</key>
			<dict>
				<key>CreatedCount</key>
				<integer>3</integer>
				<key>DeletedCount</key>
				<integer>3</integer>
				<key>LifetimeEntryCount</key>
				<integer>3</integer>
				<key>LifetimeMax</key>
				<real>511.12724375399921</real>
				<key>LifetimeMin</key>
				<real>15.096914387999277</real>
				<key>LifetimeSum</key>
				<real>544.95095030299854</real>
				<key>PersistedCount</key>
				<integer>0</integer>
			</dict>
			<key>Monitors</key>
			<array>
				<dict>
					<key>Current Space</key>
					<dict>
						<key>ManagedSpaceID</key>
						<integer>93</integer>
						<key>id64</key>
						<integer>93</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string>8C5D0BD7-D0F2-49AB-821F-C73507C21853</string>
					</dict>
					<key>Display Identifier</key>
					<string>Main</string>
					<key>Spaces</key>
					<array>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>24</integer>
							<key>id64</key>
							<integer>24</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>3B5D1E2B-9E74-4700-8F47-F58E7D8E0562</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>89</integer>
							<key>id64</key>
							<integer>89</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>C2B43143-59AC-4D1C-B407-831057FBAC1E</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>93</integer>
							<key>id64</key>
							<integer>93</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>8C5D0BD7-D0F2-49AB-821F-C73507C21853</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Collapsed Space</key>
					<dict>
						<key>ManagedSpaceID</key>
						<integer>32</integer>
						<key>id64</key>
						<integer>32</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string>25DCA7DA-44C9-4DA0-9143-595E17ADCBC2</string>
					</dict>
					<key>Display Identifier</key>
					<string>DAF22F8A-55E1-44E2-8CF8-60F29895FE5C</string>
				</dict>
			</array>
			<key>Primary</key>
			<dict>
				<key>CreatedCount</key>
				<integer>3</integer>
				<key>DeletedCount</key>
				<integer>3</integer>
				<key>LifetimeEntryCount</key>
				<integer>3</integer>
				<key>LifetimeMax</key>
				<real>510.09409481900002</real>
				<key>LifetimeMin</key>
				<real>14.069176906999928</real>
				<key>LifetimeSum</key>
				<real>541.85896330900141</real>
				<key>PersistedCount</key>
				<integer>0</integer>
			</dict>
			<key>Secondary</key>
			<dict>
				<key>CreatedCount</key>
				<integer>0</integer>
				<key>DeletedCount</key>
				<integer>0</integer>
				<key>LifetimeEntryCount</key>
				<integer>0</integer>
				<key>LifetimeMax</key>
				<real>0.0</real>
				<key>LifetimeMin</key>
				<real>0.0</real>
				<key>LifetimeSum</key>
				<real>0.0</real>
				<key>PersistedCount</key>
				<integer>0</integer>
			</dict>
			<key>Single</key>
			<dict>
				<key>CreatedCount</key>
				<integer>3</integer>
				<key>DeletedCount</key>
				<integer>3</integer>
				<key>LifetimeEntryCount</key>
				<integer>3</integer>
				<key>LifetimeMax</key>
				<real>511.12637976399856</real>
				<key>LifetimeMin</key>
				<real>15.096388605998072</real>
				<key>LifetimeSum</key>
				<real>544.94921060699562</real>
				<key>PersistedCount</key>
				<integer>0</integer>
			</dict>
			<key>Tile</key>
			<dict>
				<key>CreatedCount</key>
				<integer>3</integer>
				<key>DeletedCount</key>
				<integer>3</integer>
				<key>LifetimeEntryCount</key>
				<integer>3</integer>
				<key>LifetimeMax</key>
				<real>511.12642596500154</real>
				<key>LifetimeMin</key>
				<real>15.096427743003005</real>
				<key>LifetimeSum</key>
				<real>544.94932920300562</real>
				<key>PersistedCount</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Space Properties</key>
		<array>
			<dict>
				<key>name</key>
				<string>3B5D1E2B-9E74-4700-8F47-F58E7D8E0562</string>
				<key>windows</key>
				<array>
					<integer>89</integer>
					<integer>41</integer>
					<integer>1414</integer>
					<integer>1410</integer>
					<integer>150</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>C2B43143-59AC-4D1C-B407-831057FBAC1E</string>
				<key>windows</key>
				<array>
					<integer>89</integer>
					<integer>41</integer>
					<integer>1425</integer>
					<integer>1423</integer>
					<integer>1422</integer>
					<integer>1418</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>8C5D0BD7-D0F2-49AB-821F-C73507C21853</string>
				<key>windows</key>
				<array>
					<integer>1920</integer>
					<integer>89</integer>
					<integer>41</integer>
					<integer>1491</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>spans-displays</key>
	<false/>
</dict>
</plist>
